.App {
  font-family: sans-serif;

}

.card {
    padding: 5px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    width: 150px;
}

.title {
    font-weight: 700;
}

.date {
    font-size: small;
    color: #252525;
}